RewriteEngine On

RewriteRule ^(app|config|database|resources|routes|node_modules|\.github)(/|$) - [F,L]

RewriteRule ^assets/(.*)$ public/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
